.login {


    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;

}




.login .login-form {
    text-align: center;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;

    padding: 20px;
}

.login .login-form form {

    width: 100%;

}

.login .login-form .input-filed {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;


}

.login .login-form .input-filed .icon-filed {
    font-size: 20px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--secondary-color);
    transition: 0.5s;
}


.login .login-form .input-filed:focus-within .icon-filed {
    background-color: var(--primary-color);
}


.login .login-form input {
    direction: rtl;
    width: 100%;
    padding: 10px;
    border: 0;
    margin: 0;
    background-color: var(--background-color);
    border-bottom: 1px solid #77777750;
    color: var(--text-color);

}

.login .login-form input:focus {
    outline: none
}

.login .login-form .title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    height: 100px;
    width: 200px;
    border-radius: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;



}

.login .login-form .title span {
    color: white !important;
    font-size: 25px;
}

.login .login-form .submit-button {
    margin-top: 50px;
    padding: 5px 30px;
    background: var(--primary-color);
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;
}

.login .login-form .submit-button:hover {
    background: var(--secondary-color);
}

.error-message {
    direction: rtl;
    padding: 5px 20px;
    color: red;
    margin-top: 5px;
    font-size: 15px;
}


.login img {

    width: 100%;

}


.no-account span {
    color: var(--secondary-color);
}

.otp-Form {


    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 20px;
    position: relative;

    border-radius: 15px;
}

.mainHeading {
    font-size: 1.1em;
    color: rgb(15, 15, 15);
    font-weight: 700;
}

.otpSubheading {
    font-size: 0.7em;
    color: black;
    line-height: 17px;
    text-align: center;
}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.otp-input {
    background-color: rgb(228, 228, 228);
    width: 50px !important;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 7px;
    caret-color: rgb(127, 129, 255);
    color: rgb(44, 44, 44);
    outline: none;
    font-weight: 600;
}

.otp-input:focus,
.otp-input:valid {
    background-color: rgba(127, 129, 255, 0.199);
    transition-duration: .3s;
}

.verifyButton {
    padding: 5px 50px;

    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: .2s;
}

.verifyButton:hover {
    background-color: var(--primary-color);
    transition-duration: .2s;
}


.resendNote {
    font-size: 0.7em;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.resendBtn {
    background-color: transparent;
    border: none;
    color: rgb(127, 129, 255);
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
}

@media (max-width: 1200px) {


    .login .login-form .title {
        height: 100px;
        width: 200px;
    }

    .login .login-form .title span {
        font-size: 22px;
    }

    .login .login-form .submit-button {
        padding: 5px 25px;
        font-size: 18px;
    }

}

@media (max-width: 992px) {
    .login .bg-login {
        display: none;
    }





    .login .login-form .title {
        height: 100px;
        width: 200px;
    }

    .login .login-form .title span {
        font-size: 20px;
    }

    .login .login-form .submit-button {
        padding: 5px 20px;
        font-size: 16px;
    }

    .no-account {
        font-size: 14px;
    }
}

@media (max-width: 768px) {

    .login .login-form .title {
        height: 80px;
        width: 200px;
    }

    .login .login-form .title span {
        font-size: 18px;
    }

    .login .login-form .submit-button {
        padding: 5px 15px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {


    .login .login-form .title {
        height: 70px;
        width: 180px;
    }

    .login .login-form .title span {
        font-size: 16px;
    }

    .login .login-form .submit-button {
        padding: 10px 15px;
        font-size: 14px;
    }

    .login .login-form .input-field {
        font-size: 14px;
    }
}