.category {
    direction: rtl;
    margin-bottom: 150px;
    padding: 10px;
    justify-content: center;
}



.main-title {
    margin-bottom: 50px;
    padding: 10px 40px;
    border: 2px solid var(--text-color);
    width: fit-content;
    font-size: 35px;
    transition: 0.3s;
    z-index: 1;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--text-color);

}

.main-title::before,
.main-title::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid var(--primary-color);
    transition-delay: 0.5s;
}



@keyframes left-move {
    50% {
        left: 0;
        height: 12px;
        width: 12px;
    }

    100% {
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        height: 12px;
        width: 12px;
    }

    100% {
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

.overview {
    width: 80vh;
    background-color: #0000007e;
}

.overview .title {
    padding: 10px;
    border-bottom: 1px solid var(--text-color);
}

@media (max-width: 576px) {
    .overview {
        width: 100%;

    }
}



.card-course {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.card-course:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px var(--text-color);

}

.card-course .card-img-top {
    width: 100%;
}

.card-course img {
    width: 100%;
    margin-bottom: 10px;
    height: 200px;

}

.card-course .card-title {
    margin: 0;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.836);
}

.card-course .card-body {
    height: 120px;
    overflow: hidden;

}

.card-course .card-text {
    width: 100%;
    margin: 20px 0 0 0;
    line-height: 1.5;
    color: #777;

}

.card-course .card-footer {
    padding: 20px;
    border-top: 1px solid #E6E6E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;

}

.card-course .price {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    padding: 5px;
}

.card-course .card-link {
    font-weight: bold;
    padding: 10px 15px;
    background: #11998e;
    border-radius: 5px;
    color: white;
}











.courseDetials {
    direction: rtl;
}

.courseDetials .courseheader {
    padding: 100px;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: var(--shadow-effect);
    --sz: 15px;
    --c0: rgb(0, 0, 0);
    --c1: var(--primary-color);
    --ts: 50% / calc(var(--sz) * 8) calc(var(--sz) * 16);
    --dot: var(--c1) 0 calc(var(--sz) * 0.78),
        #fff0 calc(calc(var(--sz) * 0.78) + 1px) 100%;
    --dot2: radial-gradient(circle at 90% 0%, var(--dot)) var(--ts),
        radial-gradient(circle at 65% 0%, var(--dot)) var(--ts),
        radial-gradient(circle at 40% 0%, var(--dot)) var(--ts),
        radial-gradient(circle at 15% 0%, var(--dot)) var(--ts);
    --cg1: conic-gradient(from -90deg at 5% 51%, var(--c0) 0 90deg, #fff0 0 100%) var(--ts);
    --cg2: conic-gradient(from -90deg at 25% 50%, var(--c1) 0 90deg, #fff0 0 100%) var(--ts);
    --cg3: conic-gradient(from -90deg at 30% 38.5%,
            var(--c0) 0 90deg,
            #fff0 0 100%) var(--ts);
    --cg4: conic-gradient(from -90deg at 50% 37.5%,
            var(--c1) 0 90deg,
            #fff0 0 100%) var(--ts);
    --cg5: conic-gradient(from -90deg at 55% 26%, var(--c0) 0 90deg, #fff0 0 100%) var(--ts);
    --cg6: conic-gradient(from -90deg at 75% 25%, var(--c1) 0 90deg, #fff0 0 100%) var(--ts);
    --cg7: conic-gradient(from -90deg at 80% 13.5%,
            var(--c0) 0 90deg,
            #fff0 0 100%) var(--ts);
    --cg8: conic-gradient(from -90deg at 100% 12.5%,
            var(--c1) 0 90deg,
            #fff0 0 100%) var(--ts);

    background: var(--dot2), var(--dot2),
        radial-gradient(circle at 90% 100%, var(--dot)) var(--ts),
        radial-gradient(circle at 65% 100%, var(--dot)) var(--ts),
        radial-gradient(circle at 40% 100%, var(--dot)) var(--ts),
        radial-gradient(circle at 15% 100%, var(--dot)) var(--ts),
        radial-gradient(circle at 90% 12.5%, var(--dot)) var(--ts),
        radial-gradient(circle at 65% 25%, var(--dot)) var(--ts),
        radial-gradient(circle at 40% 37.5%, var(--dot)) var(--ts),
        radial-gradient(circle at 15% 50%, var(--dot)) var(--ts), var(--cg1),
        var(--cg1), var(--cg2), var(--cg2), var(--cg3), var(--cg3), var(--cg4),
        var(--cg4), var(--cg5), var(--cg5), var(--cg6), var(--cg6), var(--cg7),
        var(--cg7), var(--cg8), var(--cg8),
        linear-gradient(-45deg, #fff0 0 32.25%, #0002 50%, #000 77.5%) var(--ts),
        linear-gradient(-45deg, #fff0 0 32.25%, #000 60%) var(--ts),
        repeating-linear-gradient(90deg, var(--c0) 0 5%, var(--c1) 0 25%) var(--ts);
    color: white;


}

.courseDetials .courseheader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 0.322);
    z-index: 1;
}

.courseDetials .courseheader .title {
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    z-index: 10;
    border-radius: 10px;
}

.courseDetials .courseheader .description {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
}

.courseDetials .courseheader .cardHeader {
    max-width: 350px;
    position: absolute;
    top: 50px;
    left: 150px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}



.courseDetials .courseheader .cardHeader img {
    width: 100%;
    border-radius: 5px;
}


.courseDetials .courseheader .cardHeader .cardBody {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--text-color);
    background-color: white;
}


.courseDetials .courseheader .cardBody .price {
    padding: 3px 20px;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    color: white;
    border-radius: 3px;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}



.courseDetials .price span {
    margin-right: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.courseDetials .add {
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    padding: 10px 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    color: black;
}

.courseDetials .add:hover {
    background: var(--primary-color);
    border: 1px solid white;
    color: white;
}

.courseDetials .courseContent {

    padding: 50px;
    border-radius: 10px;
    margin-bottom: 150px;

}


.courseDetials .courseContent .title {
    direction: rtl;
    background-color: var(--secondary-color);
    color: white;
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 10px;

}

.courseDetials .content {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.courseDetials .content .accordion-item {
    margin-top: 5px;
    box-shadow: 1px 1px 5px var(--text-color);
}

.courseDetials .content .accordion-button {

    font-size: 25px;
    justify-content: space-between;
    box-shadow: none;

}


.courseDetials .content .accordion-button:not(.collapsed) {

    background: #E6E6E7;
    box-shadow: none;
}

.courseDetials .content .accordion-button::after {
    margin: 0;
}




.lesson {
    direction: rtl;
    background-color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgb(141, 141, 141);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lesson .lesson-index {
    padding: 5px 10px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.lesson .lesson-icon {
    color: var(--secondary-color);
}

.lesson .lesson-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .main-title {
        font-size: 25px;
    }


    .card .card-title {
        font-size: 20px;
    }

    .card .card-text {
        font-size: 16px;
    }

    .card .price {
        font-size: 16px;
    }

    .card .card-link {
        font-size: 14px;
        padding: 8px 12px;
    }

    .courseDetials .courseContent {
        padding: 40px;
    }

    .courseDetials .courseContent .title {
        font-size: 26px;
    }

    .courseDetials .content .accordion-button {
        font-size: 26px;
    }

    .course-goals {
        width: 75%;
        padding: 40px;
    }

}

@media (max-width: 1024px) {
    .overview {
        width: 50%;

    }

    .courseDetials .courseheader {
        padding: 50px;
    }
}



/* For tablets (up to 992px) */
@media (max-width: 992px) {
    .main-title {
        font-size: 22px;
    }

    .overview {
        width: 100%;

    }

    .card .card-title {
        font-size: 18px;
    }

    .card .card-text {
        font-size: 14px;

    }

    .card .price {
        font-size: 14px;
    }

    .card .card-link {
        font-size: 12px;
        padding: 6px 10px;
    }

    .courseDetials .courseheader {
        flex-direction: column-reverse;
        box-shadow: none;
        border: 0;
    }

    .courseDetials .courseheader .cardHeader {
        position: unset;
        width: 100%;

    }

    .courseDetials .courseheader .title {
        margin-top: 10px;
        font-size: 22px;
    }

    .courseDetials .courseheader .description {
        font-size: 16px;
    }

    .courseDetials .courseheader .cardHeader .cardBody {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


    }

    .courseDetials .courseheader .cardBody .price {
        font-size: 18px;
        padding: 10px;
    }

    .courseDetials .add {
        margin: 0;
        padding: 10px 30px;
        font-size: 16px;
    }

    .courseDetials .courseContent {
        padding: 30px;
    }

    .courseDetials .courseContent .title {
        font-size: 24px;
    }

    .courseDetials .content .accordion-button {
        font-size: 24px;
    }

    .course-goals {
        width: 85%;
        padding: 30px;
        margin-top: 0;
    }

}

/* For mobile devices (up to 768px) */
@media (max-width: 768px) {
    .main-title {
        font-size: 20px;
    }


    .card .card-title {
        font-size: 16px;
    }

    .card .card-text {
        font-size: 14px;

    }

    .courseDetials .courseheader {
        flex-direction: column-reverse;

        box-shadow: none;
        border: 0;
    }

    .courseDetials .courseheader .cardHeader {
        position: unset;
        width: 100%;

    }

    .courseDetials .courseheader .title {
        margin-top: 10px;
        font-size: 22px;
    }

    .courseDetials .courseheader .description {
        font-size: 16px;
    }

    .courseDetials .courseheader .cardHeader .cardBody {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


    }

    .courseDetials .courseheader .cardBody .price {
        font-size: 18px;
        padding: 10px;
    }

    .courseDetials .add {
        margin: 0;
        padding: 10px 30px;
        font-size: 16px;
    }

    .courseDetials .courseContent {
        padding: 20px;
    }

    .courseDetials .courseContent .title {
        font-size: 22px;
    }

    .courseDetials .content .accordion-button {
        font-size: 22px;
    }

    .course-goals {
        width: 95%;
        padding: 20px;
        margin-top: 0;
    }
}


@media (max-width: 576px) {
    .main-title {
        font-size: 18px;
    }

    .card {
        margin-bottom: 20px;
    }

    .card .card-title {
        font-size: 14px;
    }

    .card .card-text {
        font-size: 14px;

    }

    .card .card-body {
        height: 100px;
    }

    .courseDetials .courseheader {
        flex-direction: column-reverse;
        padding: 20px;
        box-shadow: none;
        border: 0;
    }

    .courseDetials .courseheader .cardHeader {
        position: unset;
        width: 100%;

    }

    .courseDetials .courseheader .title {
        margin-top: 10px;
        font-size: 22px;
    }

    .courseDetials .courseheader .description {
        font-size: 16px;
    }

    .courseDetials .courseheader .cardHeader .cardBody {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


    }

    .courseDetials .courseheader .cardBody .price {
        font-size: 18px;
        padding: 10px;
    }

    .courseDetials .add {
        margin: 0;
        padding: 10px 30px;
        font-size: 16px;
    }

    .courseDetials .courseContent {
        padding: 0;
    }

    .courseDetials .courseContent .title {

        font-size: 20px;
    }

    .courseDetials .content .accordion-button {
        font-size: 20px;
    }

    .course-goals {
        width: 100%;
        padding: 15px;
        margin-top: 0;
    }

    .lesson {
        padding: 10px;
        font-size: 18px;
    }



    .lesson .lesson-title-text {
        font-size: 15px;

    }


    .lesson .lesson-index {
        padding: 1px 5px;
    }

    .lesson .lesson-icon {
        color: var(--secondary-color);
    }


}