.learn {
    padding: 0;
    display: flex;

}


.learn .course {
    width: 75%;
    z-index: 1200;

}

.learn .course .course-info {
    padding: 10px;
    direction: rtl;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 150px;
}

.learn .course .course-info .course-img {
    height: 110px;
    width: 110px;
    border-radius: 50%;

}

.learn .course .course-info .course-img img {
    border-radius: 50%;
}



.learn .play-list {
    position: fixed;
    right: 0;
    top: 100px;
    width: 25%;

    z-index: 1200;
    color: var(--text-color);

    background-color: var(--primary-color);
    transition: 1s;

}

.learn .play-list .play-list-header {
    z-index: 1200;
    direction: rtl;

    padding: 20px 30px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-effect);
}


.learn .play-list .play-list-content {

    overflow: auto;
    height: 100%;


}



.learn .accordion-item {
    border-radius: 0 !important;

    box-shadow: none;
    color: var(--text-color) !important;
    border: 0;
    border-bottom: 1px solid var(--text-color);

    transition: 0.5s;
    background-color: var(--background-color) !important;
}



.learn .accordion-button {
    color: var(--text-color) !important;
    font-size: 20px;
    direction: rtl;
    justify-content: space-between;
    background-color: var(--background-color) !important;
    transition: 0.5S;
    border-radius: 0 !important;
    box-shadow: none;

}


.learn .accordion-button:not(.collapsed) {
    transition: 0.5s;
    box-shadow: none;
    border-top-left-radius: 10px !important;
    border-bottom: 1px solid var(--text-color);
}

.learn .accordion-button::after {
    margin: 0;
    background-color: white;
    padding: 2px;
    border-radius: 50px;
}

.learn .accordion-body {
    padding: 0;

}


.learn .lectures {
    margin: 0;
    padding: 0;
    direction: rtl;

}

.learn .lectures li {
    cursor: pointer;
    border-bottom: 1px solid rgba(185, 185, 185, 0.267);
    padding: 15px 25px 15px 15px;
    background-color: rgba(211, 211, 211, 0.562);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--text-color);
}

.learn .lectures li .time {
    font-size: 15px;


}

.learn .lectures li:hover {
    background-color: rgba(211, 211, 211, 0.562);
    color: var(--text-color);
}

.lecture-active {
    background: var(--primary-color);


    border-left: 15px solid var(--primary-color);
    color: var(--text-color);

}

.learn .lectures li.lecture-active .time {}




.resource .resource-header {
    padding: 10px;
    font-size: 15px;
}

.lecture-inactive {
    position: relative;
}



.lecture-inactive::after {
    position: absolute;
    content: 'عليك حل أختبار الدرس السابق   والحصول علي درجة أعلي من النصف لكي تستطيع فتح المحاضرة ';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    background-color: var(--question-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.lecture-inactive::after:hover {
    display: flex;
}


.note-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.form-collapse {
    width: 50%;
}

.add-note {
    background-color: white;
    color: rgba(0, 0, 0, 0.397);
    margin-bottom: 10px;

    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.397);
    transition: 0.5s;
    width: 50%;
}

.add-note:hover {
    background-color: #EEEEEE;
    color: rgba(0, 0, 0, 0.397);
    border: 1px solid rgba(0, 0, 0, 0.397);

}


.note-form {
    display: flex;
    flex-direction: column;
    direction: rtl;
    gap: 10px;
}




.note-form .note-title-input {
    border: 1px solid rgba(0, 0, 0, 0.397);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;

}


.note-form .note-content-input {
    border: 1px solid rgba(0, 0, 0, 0.397);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;

    height: 100px;
    resize: none;

}


.note {

    border-bottom: 1px dashed var(--text-color);

}

.note .note-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.note .note-header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.note .note-header .note-title {
    font-size: 26px;
}

.note .note-header .note-number {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    background-color: var(--question-color-1);
}


.note .note-body {
    padding: 20px 30px;
    font-size: 20px;
    color: var(--text-color);
}


.note-modal {
    width: 600px;
}




@media (max-width: 1200px) {

    .learn .course {
        width: 100%;

    }


    .learn .play-list {
        display: none;
    }


}


@media (max-width: 992px) {}

@media (max-width: 768px) {
    .note-modal {
        width: 100%;
    }

    .add-note {
        font-size: 15px;
        width: 100%;
    }

    .form-collapse {
        width: 100%;
    }

    .note .note-header .note-title {
        font-size: 22px;
    }

    .note .note-header .note-number {
        height: 24px;
        width: 24px;
        font-size: 15px;
    }

    .note .note-body {
        font-size: 18px;
    }

    .learn .accordion-button {
        font-size: 15px;
    }

    .learn .course .course-info {
        font-size: 16px;
    }

    .learn .course .course-info .course-img {
        height: 80px;
        width: 80px;
    }


    .learn .course .course-info h3 {
        font-size: 18px;
    }


}


@media (max-width: 576px) {}