:root {
    --border-color-1: #d1d7dc
}

.learn {
    padding: 0;
    display: flex;

}


.learn .course {
    width: 70%;
    z-index: 1200;

}



.learn .course .course-info {
    padding: 10px;
    direction: rtl;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--border-color-1);
    margin-bottom: 150px;

}

.learn .course .course-info .course-img {
    height: 100px;
    width: 100px;

}

.learn .course .course-info .course-img img {
    border-radius: 10px;
}



.learn .play-list {
    position: sticky;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 1200;
    color: var(--text-color);

    transition: 1s;
    border-left: 1px solid var(--border-color-1);
    height: 100vh;

}

.learn .play-list .play-list-header {
    z-index: 1200;
    direction: rtl;
    padding: 15px 30px;
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    box-shadow: 1px 10px 5px var(--border-color-1);
}


.learn .play-list .play-list-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}



.learn .accordion-item {
    border-radius: 0 !important;
    box-shadow: none;
    color: var(--text-color) !important;
    border: 0;
    border-bottom: 1px solid var(--border-color-1);
    transition: 0.5s;
    background-color: var(--background-color) !important;
}



.learn .accordion-button {
    color: var(--text-color) !important;
    font-size: 20px;
    direction: rtl;
    justify-content: space-between;
    background-color: #eeeeee63 !important;
    transition: 0.5S;
    border-radius: 0 !important;
    box-shadow: none;

}


.learn .accordion-button:not(.collapsed) {
    transition: 0.5s;
    box-shadow: none;
}

.learn .accordion-button::after {
    margin: 0;
    background-color: white;
    padding: 2px;
    border-radius: 50px;
}

.learn .accordion-body {
    padding: 0;

}


.learn .lectures {
    margin: 0;
    padding: 0;
    direction: rtl;
    counter-reset: lecture;
}

.learn .lectures li {

    cursor: pointer;
    padding: 15px 25px 15px 15px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--text-color);
    position: relative;
}



.learn .lectures li .time {
    font-size: 15px;


}

.learn .lectures li:hover {
    background-color: var(--primary-color);
    color: white;
}

.lecture-active {
    color: white !important;
    background-color: var(--primary-color);
}

.learn .lectures li.lecture-active .time {}




.resource .resource-header {
    padding: 10px;
    font-size: 15px;
}

.lecture-inactive {
    position: relative;
}



.lecture-inactive::after {
    position: absolute;
    content: 'عليك حل أختبار الدرس السابق   والحصول علي درجة أعلي من النصف لكي تستطيع فتح المحاضرة ';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    background-color: var(--question-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.lecture-inactive::after:hover {
    display: flex;
}


.note-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.form-collapse {
    width: 50%;
}

.add-note {
    background-color: white;
    color: rgba(0, 0, 0, 0.397);
    margin-bottom: 10px;

    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.397);
    transition: 0.5s;
    width: 50%;
}

.add-note:hover {
    background-color: #EEEEEE;
    color: rgba(0, 0, 0, 0.397);
    border: 1px solid rgba(0, 0, 0, 0.397);

}


.note-form {
    display: flex;
    flex-direction: column;
    direction: rtl;
    gap: 10px;
}




.note-form .note-title-input {
    border: 1px solid rgba(0, 0, 0, 0.397);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;

}


.note-form .note-content-input {
    border: 1px solid rgba(0, 0, 0, 0.397);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;

    height: 100px;
    resize: none;

}


.note {

    border-bottom: 1px dashed var(--text-color);

}

.note .note-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.note .note-header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.note .note-header .note-title {
    font-size: 26px;
}

.note .note-header .note-number {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    background-color: var(--question-color-1);
}


.note .note-body {
    padding: 20px 30px;
    font-size: 20px;
    color: var(--text-color);
}


.note-modal {
    width: 600px;
}



.card-comment {
    width: 50vw;
    height: fit-content;
    background-color: var(--background-color);
    border: 0;
    direction: rtl;
    position: relative;
    margin-bottom: 120px;

}





.comments {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    overflow-wrap: break-word;

}


.comment-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.comment-container .user {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;

}

.comment-container .user .user-pic {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: white
}



.comment-container .user .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;

}

.comment-container .user .user-info span {
    font-weight: 700;
    font-size: 14px;
    color: #47484b;
}

.comment-container .comment-date {
    font-weight: 600;
    font-size: 10px;
    color: #acaeb4;
}

.comment-container .comment-content {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #5f6064;
    max-width: 200px;
    text-overflow: ellipsis;
}

.text-box {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid var(--border-color-1);
    background-color: white;
}


.text-box textarea {
    background-color: #EEEEEE;
    width: 100%;
    resize: none;
    padding: 10px;
    max-height: 80px;
    border: 0;
    font-size: 13px;
    outline: none;
    caret-color: #0a84ff;
    color: var(--text-color);
    border-radius: 10px;

}


.text-box .send {
    width: 30px;
    height: 30px;
    background-color: #474747e0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border: 0;
    outline: none;
    margin: 10px;
}

.text-box .send:hover {
    background-color: var(--primary-color);
}


@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@media (max-width: 1200px) {

    .learn .course {
        width: 100%;

    }


    .learn .play-list {
        display: none;
    }

    .card-comment {
        width: 100%;


    }
}

@media (max-width: 900px) {
    .card-comment .comment-form {
        position: fixed;
        bottom: 0;
    }
}


@media (max-width: 768px) {
    .note-modal {
        width: 100%;
    }




    .add-note {
        font-size: 15px;
        width: 100%;
    }

    .form-collapse {
        width: 100%;
    }

    .note .note-header .note-title {
        font-size: 22px;
    }

    .note .note-header .note-number {
        height: 24px;
        width: 24px;
        font-size: 15px;
    }

    .note .note-body {
        font-size: 18px;
    }

    .learn .accordion-button {
        font-size: 15px;
    }

    .learn .course .course-info {
        font-size: 16px;
    }

    .learn .course .course-info .course-img {
        height: 80px;
        width: 80px;
    }


    .learn .course .course-info h3 {
        font-size: 18px;
    }

    .user-badge {
        font-size: 13px !important;
    }


}


@media (max-width: 576px) {
    .user-badge {
        font-size: 10px !important;
    }


}