@font-face {
  font-family: 'NeoSansArabic';
  src: local('NeoSansArabic'), url('./assets/fonts/NeoSansArabic.ttf') format('truetype');
}

:root {
  --background-color: #FFFFFF;
  --text-color: #000000;
  --primary-color: #4e54c8;
  --secondary-color: #DA4453;
  --transparent-color: rgba(240, 166, 17, 0);
  --highlight-color: rgba(255, 170, 0, 0);
  --shadow-effect: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.dark-mode {
  --background-color: #202020;
  --text-color: #ffffff;

}

html {
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

body,
html,
#root,
.App {
  margin: 0;
  padding: 0;
  font-family: "NeoSansArabic";

}

body {
  height: 100%;

}

.App {

  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.5s, color 0.5s;
  position: relative;

}



a,
ul {
  color: var(--text-color) !important;
  text-decoration: none !important;
  list-style: none;
}


.back-to-top {
  position: fixed;
  font-size: 30px;
  background-color: var(--primary-color);
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
  color: white;
  box-shadow: var(--shadow-effect);
}

.back-to-top:hover {
  background-color: transparent;
  color: var(--text-color) !important;
  animation: backToTop 1s infinite alternate;
}

@keyframes backToTop {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }

}



.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;


}

.section-title>h3 {
  margin: 0;
  font-size: 40px;
  text-align: center;
  border-radius: 10%;
  padding: 10px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid var(--primary-color);
  font-weight: 500;

}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 50px;

  margin-top: auto;
  box-shadow: var(--shadow-effect);
  background: #4e54c8;
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
  background: linear-gradient(to right, #8f94fb, #4e54c8);
}

footer .socailIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

footer .socailIcons li {
  padding: 10px;
  margin-left: 20px;
  width: 80px;
  height: 80px;

  cursor: pointer;
  transition: 0.5s;

}

footer .socailIcons li:hover {
  transform: scale(1.1);

}

footer p {
  font-size: 20px;
  color: white;
}

footer p:last-of-type {
  color: white;
}

.loader-indector {
  height: 80vh;
  width: 100%;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 100;
}


.cubes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

.loop {
  transform: rotateX(-35deg) rotateY(-45deg) translateZ(1.5625em);
}

@keyframes s {
  to {
    transform: scale3d(0.2, 0.2, 0.2);
  }
}

.item {
  margin: -1.5625em;
  width: 3.125em;
  height: 3.125em;
  transform-origin: 50% 50% -1.5625em;
  box-shadow: 0 0 0.125em currentColor;
  background: currentColor;
  animation: s 0.6s cubic-bezier(0.45, 0.03, 0.51, 0.95) infinite alternate;
}

.item:before,
.item:after {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-origin: 0 100%;
  box-shadow: inherit;
  background: currentColor;
  content: "";
}

.item:before {
  bottom: 100%;
  transform: rotateX(90deg);
}

.item:after {
  left: 100%;
  transform: rotateY(90deg);
}

.item:nth-child(1) {
  margin-top: 6.25em;
  color: #fe1e52;
  animation-delay: -1.2s;
}

.item:nth-child(1):before {
  color: #ff6488;
}

.item:nth-child(1):after {
  color: #ff416d;
}

.item:nth-child(2) {
  margin-top: 3.125em;
  color: #fe4252;
  animation-delay: -1s;
}

.item:nth-child(2):before {
  color: #ff8892;
}

.item:nth-child(2):after {
  color: #ff6572;
}

.item:nth-child(3) {
  margin-top: 0em;
  color: #fe6553;
  animation-delay: -0.8s;
}

.item:nth-child(3):before {
  color: #ffa499;
}

.item:nth-child(3):after {
  color: #ff8476;
}

.item:nth-child(4) {
  margin-top: -3.125em;
  color: #fe8953;
  animation-delay: -0.6s;
}

.item:nth-child(4):before {
  color: #ffb999;
}

.item:nth-child(4):after {
  color: #ffa176;
}

.item:nth-child(5) {
  margin-top: -6.25em;
  color: #feac54;
  animation-delay: -0.4s;
}

.item:nth-child(5):before {
  color: #ffce9a;
}

.item:nth-child(5):after {
  color: #ffbd77;
}

.item:nth-child(6) {
  margin-top: -9.375em;
  color: #fed054;
  animation-delay: -0.2s;
}

.item:nth-child(6):before {
  color: #ffe49a;
}

.item:nth-child(6):after {
  color: #ffda77;
}


.background {

  color: var(--primary-color);
  font-size: 35px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


@media (max-width: 992px) {
  .background {
    display: flex;
  }
}






.navbar .auth-buttons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.navbar {
  transition: 1s;
}

.navbar-scrolled {
  position: sticky !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);
  transition: 0.6s;
  box-shadow: 1px 1px 1px #EEEEEE;
}

.navbar .auth-buttons .auth-login {
  background: white;
  border: 0;
  color: #000000;
  transition: 0.5s;
  padding: 8px 40px;
  box-shadow: 1px 1px 5px #ff4b2bbb;
}

.navbar .auth-buttons .auth-login:hover {
  box-shadow: 1px 1px 10px var(--text-color);
}

.navbar .auth-buttons .auth-signUp {
  font-size: 16px;
  color: white;
  transition: 0.5s;
  padding: 8px 40px;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 1px 1px 10px var(--text-color);
}

.navbar .auth-buttons .auth-signUp:hover {
  color: black;
  background: white;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.not-found p:first-child {
  color: red;
  font-size: 40px;
}

.not-found p:last-of-type {
  font-size: 20px;
}


.book-poster .connect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.book-poster .book-image {

  padding: 10px;

  box-shadow: 1px 1px 10px var(--text-color);
  animation: ligthing 1s infinite alternate;
}


@keyframes ligthing {

  0% {
    box-shadow: 1px 1px 10px var(--text-color);
  }

  50% {
    box-shadow: 1px 1px 10px var(--primary-color);
  }

  100% {
    box-shadow: 1px 1px 10px var(--text-color);
  }


}


.book-poster .book-image img {
  transform: rotateZ(-5deg) translateX(-10px);
  box-shadow: var(--shadow-effect);
}

.label-mode {
  width: 90px;
  height: 40px;
  position: relative;
  display: block;

  border-radius: 50px;
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.3),
    inset 0px -3px 10px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

.label-mode::after {
  content: "";
  width: 44px;
  height: 35px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: var(--primary-color);
  border-radius: 22px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.label-mode svg {
  position: absolute;
  width: 20px;
  top: 10px;
  z-index: 100;
  transition: 0.3s;
}


.label-mode svg.sun {
  left: 10px;
  fill: #fff;
}

.label-mode svg.moon {
  right: 10px;
  fill: #7e7e7e;
}

#toggle {
  margin-left: 20px;
  width: 0;
  height: 0;
  visibility: hidden;
}

#toggle:checked+.label-mode {
  background: #242424;
}

#toggle:checked+.label-mode::after {
  left: 90px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

#toggle:checked+.label-mode svg.sun {
  fill: #7e7e7e;
}

#toggle:checked+.label-mode svg.moon {
  fill: #fff;
}

#toggle:active+.label-mode::after {
  width: 60px;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--secondary-color);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
  width: 150px;
  border-radius: 20px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 8px;
  font-size: 16px;
}



.logout {
  background-color: var(--question-color-1);
}

.notification {
  transition-duration: .2s;
  background-color: var(--question-color-3);
}

.my-courses {
  background-color: var(--question-color-4);
}



.bell {
  width: 16px;
}

.bell path {
  fill: rgb(255, 255, 255);
}



.notification:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.notification:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {

  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.profile-menu-container {
  position: relative;
  transition: 0.5s;
}




.card-menu {
  width: 200px;
  position: absolute;
  top: 60px;
  right: 0px;
  background-color: var(--background-color);
  background-image: linear-gradient(139deg,
      var(--background-color) 0%,
      var(--background-color) 0%,
      var(--background-color) 100%);

  box-shadow: 0px 0px 10px var(--text-color);

  border-radius: 10px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1500;

}



.card-menu .separator {
  border-top: 1.5px solid #42434a;
}

.card-menu .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 10px;
  direction: rtl;
}

.card-menu .list .element {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px;
  gap: 8px;
  color: #7e8590;
  transition: all 0.3s ease-out;
  border-radius: 6px;
  cursor: pointer;
}

.card-menu .list .element .label {
  font-weight: 600;
  margin-bottom: 0;
}

.card-menu .list .element:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
  transform: translate(1px, -1px);
}

.card-menu .list .element:active {
  transform: scale(0.99);
}





@media (max-width: 992px) {

  .navbar .auth-buttons .auth-login,
  .navbar .auth-buttons .auth-signUp {
    padding: 6px 30px;
    font-size: 14px;
  }



  footer {
    padding: 40px;
  }

  footer .socailIcons li {
    font-size: 50px;
    padding: 8px;
    margin: 0 8px;
  }

  footer p {
    font-size: 18px;
  }


}

@media (max-width: 768px) {

  .navbar .auth-buttons .auth-login,
  .navbar .auth-buttons .auth-signUp {
    padding: 6px 20px;
    font-size: 12px;
  }

  footer {
    padding: 30px;
  }

  footer .socailIcons li {
    font-size: 40px;
    padding: 6px;
    margin: 0 6px;
  }

  footer p {
    font-size: 16px;
  }


}

@media (max-width: 576px) {
  .navbar .auth-buttons {
    display: flex;
    align-items: center;
  }

  footer .socailIcons li {
    width: 50px;
    height: 50px;

  }

  .navbar .auth-buttons .auth-login,
  .navbar .auth-buttons .auth-signUp {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 20px;
    font-size: 14px;
  }

  .section-title {
    margin: 50px 0;
  }

  .section-title>h3 {
    font-size: 18px;
  }

  footer {
    padding: 20px;
  }

  footer .socailIcons li {
    font-size: 30px;
    padding: 4px;
    margin: 0 4px;
  }

  footer p {
    text-align: center;
    font-size: 14px;
  }

  .book-poster .book-image::after {
    top: 120px;
    height: 120px;
    font-size: 16px;
    text-align: center;
  }

  .book-poster .book-image img {
    height: 50vh;
  }


}